{% if site.building_time.enable %}
<div class="copyright" >                       
        {{ __.building_time.building_time }} : 
        <span id="t_d">00</span>
        {{ __.building_time.day }}
        <span id="t_h">00</span>
        {{ __.building_time.hour }}
            <span id="t_m">00</span>
            {{ __.building_time.Minute }}
            <span id="t_s">00</span>
            {{ __.building_time.Second }}
            <script type="text/javascript">
                function getRTime() {
                    var EndTime= new Date('{{ site.building_time.time }}');
                    var NowTime = new Date();
                    var t = NowTime.getTime() - EndTime.getTime();
                    var d=Math.floor(t/1000/60/60/24);
                    var h=Math.floor(t/1000/60/60%24);
                    var m=Math.floor(t/1000/60%60);
                    var s=Math.floor(t/1000%60);
                    document.getElementById("t_d").innerHTML = d ;
                    document.getElementById("t_h").innerHTML = h ;
                    document.getElementById("t_m").innerHTML = m ;
                    document.getElementById("t_s").innerHTML = s ;
                }
                setInterval(getRTime,1000);
            </script>                    
<div class="copyright" >
{% endif %}